<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <p>This is a picture of an awesome guy named, {{name}}</p>
            <img src="/img/wolf.jpg" alt="face" class="portrait">

            <p>This page uses data from mapbox.com and darksky.net</p>
        </div>

        {{>footer}}
    </body>
</html>
