<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <p>A real man like {{name}} doesn't seek other's help. You shouldn't either.</p>
            <img src="/img/wolf.jpg" alt="face" class="portrait">
        </div>

        {{>footer}}
    </body>
</html>
